*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Spartan', sans-serif;
}

body{
    font-size: 15px;
    background: var(--Light-Grayish-Cyan);
}

:root{
    /*Primary*/
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

    /*Neutral */
    /*Background*/
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);

    /*Filter Tablets*/
    --Light-Grayish-Cyan: hsl(180, 31%, 95%);

    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}